{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Baka Store-Admin</title>
  <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
  <style>
    ::placeholder {
        color: white !important;
    }
</style>
</head>

<body class="bg" style="background-color: rgb(34, 9, 53);">
  <!-- container -->
  <div class="container d-flex flex-column" style="background-color: rgb(34, 9, 53);">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0" style="margin-top: 8rem; ">
        <!-- Card -->
        <div class="card smooth-shadow-md" style="background-color: rgba(255, 255, 255, 0.336); border-radius:10px; width:30rem;">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4">
              <p style="font-size: 2rem; color: white; font-weight :bold; margin-left:6rem">Admin Login</p>
            </div>
            <!-- Form -->
            <form method="post" action="{% url 'admin_login' %}">
              {% csrf_token %}
              <!-- Username -->
              <div class="mb-3">
                <label for="email" class="form-label" style="margin-left:2.5rem; color:white">Email</label>
                {{ form.email }}
              </div>
              <!-- Password -->
              <div class="mb-3">
                <label for="password" class="form-label" style="margin-left:2.5rem; color:white">Password</label>
                {{ form.password }}
              </div>
              <!-- Checkbox -->
              <div class="d-lg-flex justify-content-between align-items-center mb-4">
                <!-- <div class="form-check custom-checkbox">
                  <input type="checkbox" class="form-check-input" id="rememberme">
                  <label class="form-check-label" for="rememberme">Remember
                      me</label>
                </div> -->

              </div>
              <div>
                <!-- Button -->
                <div class="d-grid" style="width: 30%; margin-left:8.3rem; ">
                  <button type="submit" class="btn" style="background-color: rgba(206, 160, 249, 0.329); border: 3px rgb(245, 243, 243); color: white;">Sign in</button>
                </div>

                <div class="d-md-flex justify-content-between mt-4">
                  <!-- <div class="mb-2 mb-md-0">
                    <a href="sign-up.html" class="fs-5">Create An
                        Account </a>
                  </div> -->
                  <!-- <div>
                    <a href="forget-password.html" class="text-inherit fs-5" style="color: rgb(255, 255, 255);">Forgot your password?</a>
                  </div> -->

                </div>
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'js/jquery.sticky.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>